h3 {
  margin-top: 1em;
  font-weight: 100;
}

.full-width {
  width: 100%;
}

.bonds-picker-card {
  min-width: 120px;
  width: 90%;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

@media screen and (max-width: 780px){
  .bonds-picker-card {
	margin: 10px auto;
    width: 95%;
  }
}
