<form #bondsPickerForm="ngForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>Собрать портфель из облигаций</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <h3>Включить в портфель:</h3>
        </div>
      </div>

      <div class="checkboxesGroup">
        <div class="row">
          <div class="col">
            <mat-checkbox labelPosition="after" (change)="onToggleIsIncludedFederal()" name="isIncludedFederal"
                          [(ngModel)]="bondsPicker.isIncludedFederal">
              Государственные облигации (ОФЗ)
            </mat-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-checkbox labelPosition="after" name="isIncludedCorporate" [(ngModel)]="bondsPicker.isIncludedCorporate">
              Облигации компаний
            </mat-checkbox>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Отобрать облигации:</mat-label>
            <mat-select name="bondsClass" [(ngModel)]="bondsPicker.bondsClass">
              <mat-option *ngFor="let bc of bondClasses" [value]="bc.value">{{bc.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row" *ngIf="bondsPicker.bondsClass == 'ByRepaymentDate'">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Введите дату</mat-label>
            <input matInput [matDatepicker]="repDatepicker" name="repaymentDate" [(ngModel)]="bondsPicker.repaymentDate">
            <mat-datepicker-toggle [for]="repDatepicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #repDatepicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="bondsPicker.bondsClass == 'ByRepaymentDate'">
        <div class="col">
          <mat-checkbox labelPosition="after" name="strictlyUpToDate"
                        [(ngModel)]="bondsPicker.strictlyUpToDate">
            Строго до даты
          </mat-checkbox>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Рассчитать портфель:</mat-label>
            <mat-select name="calculationMethod" [(ngModel)]="bondsPicker.calculationMethod">
              <mat-option *ngFor="let cm of calculationMethods" [value]="cm.value">{{cm.text}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Введите сумму</mat-label>
            <input matInput type="number" name="amount" [(ngModel)]="bondsPicker.amount">
          </mat-form-field>
        </div>
      </div>

      <div class="row" style="font-size: 0.5em;">
        <div class="col">
          <mat-slider class="full-width" thumbLabel [displayWith]="formatLabel" name="amountSlider" [(ngModel)]="bondsPicker.amount"
                      step="1000" tickInterval="1000" [min]="sliderMin" [max]="sliderMax"></mat-slider>
        </div>
      </div>

      <div class="checkboxesGroup">
        <div class="row">
          <div class="col">
            <mat-checkbox labelPosition="after" name="isWithoutOffer" [(ngModel)]="bondsPicker.isWithoutOffer">
              Облигации без оферты
            </mat-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-checkbox [disabled]="bondsPicker.isIncludedFederal" labelPosition="after" name="isOneBondByIssuer" [(ngModel)]="bondsPicker.isOneBondByIssuer">
              Одна облигация от эмитента
            </mat-checkbox>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-checkbox labelPosition="after" name="isTwoPortfolios" (change)="onToggleIsTwoPortfolios()" [(ngModel)]="bondsPicker.isTwoPortfolios">
              Разделить сумму на 2 портфеля
            </mat-checkbox>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button (click)="resetForm()" type="button">Сбросить</button>
      <button mat-raised-button color="primary" type="submit">Рассчитать</button>
    </mat-card-actions>
  </mat-card>
</form>



