
<div class="mat-display-4">FAQ</div>
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Зачем мне нужен этот сервис?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Сервис "Портфель из облигаций" поможет вам в два клика подобрать портфель из ОФЗ и самых ликвидных корпоративных облигаций. Он подберет такие бумаги, чтобы вы могли получать доход в виде купона каждый месяц. Как по депозиту - удобно и привычно.</p>
    <p>Главная задача сервиса - ответить на вопрос: "Я открыл брокерский счет. Что покупать?"</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Из каких облигаций я могу составить портфель?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Вы можете собрать портфель из:</p>
	<ul>
		<li>Облигаций Федерального Займа (ОФЗ);</li>
		<li>Корпоративных облигаций;</li>
		<li>ОФЗ и корпоративных облигаций.</li>
	</ul>
	<p>Обратите внимание, что в корпоративные облигации мы включаем облигации, которые имеют классификацию корпоративных и биржевых.</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        По какому принципу сервис отбирает облигации?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Мы выбираем те облигации, где есть ликвидность.</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        По какому принципу сервис добавляет облигации в портфель?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Для своего портфеля вы можете выбирать облигации по трем принципам:</p>
	<ol>
		<li>Объем торгов или ликвидность</li>
		<li>Дата погашения</li>
		<li>Доходность</li>
	</ol>
	<h3>Объем торгов или ликвидность</h3>
    <p>Если вы хотите, чтобы облигации из портфеля было легко купить или потом продать, в случае форс мажора, то выбирайте облигации по объему торгов.</p>
	<h3>Дата погашения</h3>
    <p>Если вы хотите, чтобы ваш портфель максимально долго платил купоны и не выходил в деньги, то выбирайте облигации с самыми длинными датами погашения.</p>
	<h3>Доходность</h3>
    <p>Если вы хотите, чтобы у портфеля была максимальная доходность, то выбирайте облигации по доходности к погашению.</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Как рассчитать, сколько денег мне понадобится?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Вы можете рассчитать сумму инвестиций двумя способами:</p>
	<ol>
		<li>Задать сумму инвестиций</li>
		<p>Вы задаете сумму, которую готовы инвестировать, сервис считает, сколько и какие облигации нужно купить, и какой купон вы будете получать каждый месяц.</p>
		<li>Задать сумму купона</li>
		<p>Если вы хотите каждый месяц получать определенную сумму, и не важно, сколько для этого придется инвестировать, выбирайте опцию расчета портфеля по сумме купона.</p>
	</ol>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Что делать после того, как я нажал кнопку "Рассчитать"?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>После того, как вы нажмете кнопку "Рассчитать", сервис покажет вам набор облигаций, который соответствует вашим требованиям. Что делать дальше? - Решайте сами. Можно похвастаться этим портфелем друзьям. А можно купить его и уже потом хвастаться.</p>
    <p>Дополнительно вы получите информацию по датам платежей и погашений:</p>
	<ul>
		<li>когда ждать деньги на счету;</li>
		<li>когду нужно покупать новые выпуски облигаций.</li>
	</ul>
    <p>Если вам что-то не понравилось в представленном портфеле, можно вернуться к странице с выбором параметров и поменять их.</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Что еще мне нужно знать?
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Когда мы считаем, сколько денег понадобится чтобы купить портфель, учитываем накопленный купонный доход (НКД) и не учитываем комиссии брокера и биржи. Окончательная сумма денег, которые вам нужно будет выделить, зависит от текущих комиссий вашего брокера.</p>
    <p>Сумма инвестиций также будет зависеть от текущей цены каждой облигации на рынке. Цены облигаций меняются медленно, но мы все равно не можем гарантировать, что рыночная цена будет совпадать с той, которую мы использовали для расчета.</p>
    <p>Если вы хотите купить портфель и держать его, пока облигации не будут погашены, вам не нужно разбираться с НКД. Сервис все считает автоматически и учитывает в сумме инвестиций и доходности к погашению.</p>
    <p>Комиссии составят десятые или сотые доли процента и минимально повлияют на вашу доходность и итоговый результат.</p>
	<h3>Оферта</h3>
    <p>По некоторым облигациям предусмотрена оферта - облигация гасится не в дату погашения, а раньше. В дату оферты вы можете продать облигацию эмитенту или эмитент сам может выкупить ее у вас. Сервис учитывает такие ситуации и расчитывает портфель, исходя из ближайшей даты оферты.</p>
    <p>Сервис показывает, когда по облигации будет последний известный купон до оферты. Других купонов нет, так как после этой даты купон меняется. За этой датой нужно следить:</p>
	<ul>
		<li>если эмитент выкупает облигации, вам нужно купить новый выпуск;</li>
		<li>если вас не устроит будущий купон, и вы предъявите облигации к оферте, нужно купить новый выпуск;</li>
		<li>если будущий купон вас устроит, можете продолжать держать облигации.</li>
	</ul>
	<h3>Налоги</h3>
    <p>По некоторым купонам корпоративных облигаций нужно платить налог по ставке 13%. Купон по ОФЗ освобожден от НДФЛ.</p>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Уведомление о рисках и ограничении ответственности
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Помните, что инвестирование связано с рисками. Цена облигаций может расти или падать, поэтому ваша позиция может дорожать или дешеветь. Также помните, что покупая облигации, вы берете на себя риски эмитента облигаций. Эмитент может объявить дефолт, перестать платить купон и никогда не вернуть основную сумму долга.</p>
    <p>FinTrader.Pro не несет ответственности за ваши инвестиционные решения. Вы сами принимаете инвестиционные решения и несете ответственность за финансовый результат этих решений. Данный сервис нельзя расценивать, как робоэдвайзер или персонального финансового советника. Сервис носит исключительно информационный характер.</p>
  </mat-expansion-panel>
  </mat-accordion>
